
@{
    ViewData["Title"] = "ShowVacation";
}




    <head>
        <meta charset='utf-8' />
        <script src='~/fullcalendar/lib/jquery.min.js'></script>

        <link href='~/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
        <link href='~/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
        @*<script src="path/to/jquery.nice-select.js"></script>*@
        <script src="~/NiceSelect/js/jquery.nice-select.min.js"></script>
        <script src="~/NiceSelect/js/fastclick.js"></script>
        <script src="~/NiceSelect/js/prism.js"></script>
        @*<script src="http://hernansartorio.com/jquery-nice-select/js/jquery.js"></script>
        <script src="http://hernansartorio.com/jquery-nice-select/js/jquery.nice-select.min.js"></script>
        <script src="http://hernansartorio.com/jquery-nice-select/js/fastclick.js"></script>
        <script src="http://hernansartorio.com/jquery-nice-select/js/prism.js"></script>*@
        <link rel="stylesheet" href="path/to/nice-select.css">
        <link rel="stylesheet"href="~/NiceSelect/css/nice-select.css">
        <script src='~/fullcalendar/lib/moment.min.js'></script>

        <script src='~/fullcalendar/fullcalendar.min.js'></script>

        @*<link href='../fullcalendar.css' rel='stylesheet' />
        <link href='../fullcalendar.print.css' rel='stylesheet' media='print' />
        <script src='../lib/moment.min.js'></script>
        <script src='../lib/jquery.min.js'></script>
        <script src='../fullcalendar.min.js'></script>*@
        <script>
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        let yyyy = today.getFullYear();
        let LastName = '';
            let ArrayDateWeekend = [];
        let ArrayDAtaEventsUrl = [];
        let ArrayEventsTeanFilter = [];
            let Check = 0;
            today = mm + '/' + dd + '/' + yyyy;
       //  $( document ).ready(function(){
	      //  //$.ajax({
       //  //               url: '/Home/GetWeekend',
       //  //               type: "GET",
       //  //               dataType: "json",
       //  //               data: {},
       //  //               contentType: 'application/json; charset=utf-8',
       //  //               success: function (doc) {
                        
       //  //                   ArrayDateWeekend = doc;
       //  //               }
       //  //            });
       //       $.getJSON( "/Home/GetWeekend", function( data ) {
       //           var items = [];
       //           $.each( data, function( Date ) {
       //               ArrayDateWeekend.push(Date);
       //               debugger;
       //               Check+=1;
       //           });
 
       
       //       });
	      //});   
             
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'year,month,agendaWeek,agendaDay'
                },
                defaultDate: today,
                defaultView: 'year',
                yearColumns: 3,

                firstDay: 0,
                editable: true,
                slotMinutes: 60,

                events:  '@Url.RouteUrl(new{ action="GetEvents", controller="Home" })',
                eventDrop: function (event) {
                    $.ajax({
                        url: '/Home/ChangeDateVacation',
                        data: JSON.stringify(event),
                        contentType: 'application/json',
                        type:'POST'
                    });
                   console.log(event.id, event.start, event.end);

                },
                eventDurationEditable: false,
                titleFormat:"MM/DD/YYYY"
                //dayRender: function (date, cell) {
                  
                //    var today = moment('2019-09-11T00:00Z');
                   
                //     if (CheckWeekend(date)) {
                //         cell.css("background-color", "red");
                //     }   
                //}
            });
           
           
        });
            function CheckWeekend(Date) {
                //let check=
                //AjaxCall();
                //console.log(ArrayDateWeekend);
                //jQuery.each(ArrayDateWeekend, function (id,date) {
                //    console.log(moment(date));
                //    console.log(moment(Date));
                //    if (moment(Date).isSame(moment(date),"day")) {
                //        return true;
                //    }
                //});
                console.log(ArrayDateWeekend);
                console.log(Check);
                for (let i = 0; i < 2; i++) {
                    debugger;
                    console.log(moment(ArrayDateWeekend[i].date));
                     console.log(moment(Date));
                    if (moment(Date).isSame(moment(date),"day")) {
                        return true;
                    }
                }
 
                return false;
            }
            function AjaxCall() {
                //$.getJSON( "/Home/GetWeekend", function( data ) {
                //  var items = [];
                //  $.each( data, function( Id, Date ) {
                //      ArrayDateWeekend.push(Date);
                //  });
 
                // console.log(ArrayDateWeekend);
                //});
                                //if (ArrayDateWeekend.length == 0) {
                    //$.ajax({
                    //    url: '/Home/GetWeekend',
                    //    type: "GET",
                    //    dataType: "json",
                    //    data: {},
                    //    contentType: 'application/json; charset=utf-8',
                    //    success: function (doc) {

                    //        console.log(doc)
                    //        ArrayDateWeekend = doc;
                    //        console.log(ArrayDateWeekend+"ajax");
                    //    }}
                    //});
             }  
        $(document).ready(function() {
            $('#filterbtn').click( ()=> {
                LastName = $('#fiterinput').val();
                if ($('#calendar').fullCalendar('clientEvents').length > ArrayDAtaEventsUrl.length)
                {
                    ArrayDAtaEventsUrl = $('#calendar').fullCalendar('clientEvents');
                }

                 $('#calendar').fullCalendar('removeEvents');
                 $('#calendar').fullCalendar('addEventSource', ArrayDAtaEventsUrl);
                let Arrayevents = $('#calendar').fullCalendar('clientEvents', function (evt) {

                    return [evt.title.indexOf(LastName)] >= 0
                });
                //console.log(ArrayDAtaEventsUrl);
                //console.log($('#calendar').fullCalendar('clientEvents'));


                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', Arrayevents);

            });
        });
         $(document).ready(function() {
                 $('select').niceSelect();
         });
            $(document).ready(function () {
                $("#filterTeam").change(function () {
                     ArrayDAtaEventsUrl = [];
                    let TeamNAme = $(this).val();

                     if ($('#calendar').fullCalendar('clientEvents').length > ArrayEventsTeanFilter.length)
                     {
                        ArrayEventsTeanFilter = $('#calendar').fullCalendar('clientEvents');
                     }
         
                         $('#calendar').fullCalendar('removeEvents');
                      $('#calendar').fullCalendar('addEventSource', ArrayEventsTeanFilter);
                    let Arrayevents = $('#calendar').fullCalendar('clientEvents', function (evt) {

                    return [evt.title.indexOf(TeamNAme)] >= 0
                });
                //console.log(ArrayEventsTeanFilter);
                //console.log($('#calendar').fullCalendar('clientEvents'));


                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', Arrayevents);

                });
           });  
                  
        </script>
        <style>

            /*body {
                margin: 50px 20px;
                padding: 0;
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                font-size: 14px;
            }*/

            /*#calendar {
                max-width: auto;
                margin: 10px;
            }*/
            .fc-event {
                border: 1px solid #3a87ad; /* default BORDER color */
                color: #fff; /* default TEXT color */
                font-size: 2em;
                font-weight: bold;
                cursor: default;
            }

            body {
                margin-top: 50px;
            }

            .filterinput {
                margin-top: 3rem;
            }

            .fc-scroller {
                height: auto !important;
            }
            .fc-sun { background-color:#e5334b; }
            .fc-sat { background-color:#e5334b;  }
        </style>
    </head>
<body>
    <h2>ShowVacation</h2>
    <div id="root">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="form-group mx-sm-3 mb-2">
                            <h4>Write name or lastname</h4>
                            <label for="fiter" class="sr-only">filter</label>
                            <input class="form-control" id="fiterinput">
                        </div>
                        <button type="submit" id="filterbtn" class="btn btn-primary mb-2">Fiter</button>
                    </div>
                    <div class="row " >
                        <label for="filter" >Team:</label>
                        <select class="wide" data-tableId="table1" id="filterTeam">
                            <option value=""class="dropdown-item"></option>
                            @foreach (var team in  ViewBag.Team)
                            {
                                <option value="@team.TeamName"class="dropdown-item" >@team.TeamName</option>
                          
                            }
                        </select>

                    </div>.
                </div>
                <div class="col-sm-10" id='calendar'></div>
            </div>
        </div>
    </div>


    
</body>


