@model Workers.Models_View.Holydays
@{
    ViewData["Title"] = "ChangeWeekend";
}

<h2>ChangeWeekend</h2>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        ViewData["Title"] = "CreateHolydays";
    }
    @using (Html.BeginForm("ChnageHolydays", "Holidays", FormMethod.Post))
    {
        <div class="container">
            Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            Start Date: @Html.TextBoxFor(model => model.startDay,"{0:dd/MM/yyyy}", new { @id = "startDate", @width = "276",@class="input-large", @value = Model.startDay })
            @*<input id="startDate" width="276" />*@
            @*End Date: <input id="endDate" width="276" />.*@
            number days: @Html.TextBoxFor(model => model.AddDays, new { @Value = 1, @class = "form-control", @type = "number", @min = 0, @max = 10, @width = "276" })
        </div>
        <button type="submit" class=" btn btn-primary btn-lg btn-block">Save Date</button>
    }
    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,

        });

    </script>
</body>
