@model Workers.Models_View.LoginModel
@{
    ViewData["Title"] = "HolydaysView";


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

        }
        <style>
            .field-validation-error {
                color: #b94a48;
            }

            .field-validation-valid {
                display: none;
            }

            input.input-validation-error {
                border: 1px solid #b94a48;
            }

            input[type="checkbox"].input-validation-error {
                border: 0 none;
            }

            .validation-summary-errors {
                color: #b94a48;
            }

            .validation-summary-valid {
                display: none;
            }
        </style>

  
        <h2>Login in the site</h2>


        <form method="post" asp-action="Login" asp-controller="Account" asp-anti-forgery="true" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div class="form-group">
                    <label asp-for="Email">Write Email</label>
                    <input type="text" asp-for="Email" class="form-control" style="width:13em;" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Write password</label>
                    <input asp-for="Password" class="form-control" style="width:13em;" />
                    <span asp-validation-for="Password" />
                </div>
                <div>
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn" />
                </div>
            </div>
        </form>
        <a asp-action="Register" asp-controller="Account">Registration </a>

        @section scripts{

            <environment names="Development">
                <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                        asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.validator">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                        asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
                </script>
            </environment>
        }
