@model Workers.Models_View.RegisterModel
@{
    ViewData["Title"] = "HolydaysView";
}
<style>
    .field-validation-error {
        color: #b94a48;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #b94a48;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<h2>Registration </h2>
<form method="POST" asp-controller="Account" asp-action="Register" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Firstname"> First name</label><br />
            <input type="text" asp-for="Firstname" class="form-control" style="width:13em;" />
            <span asp-validation-for="Firstname" />
        </div>
        <div>
            <label asp-for="LastName"> Last Name</label><br />
            <input type="text" asp-for="LastName" class="form-control" style="width:13em;" />
            <span asp-validation-for="LastName" />
        </div>
        <div>
            <label asp-for="Email"> Email</label><br />
            <input type="text" asp-for="Email" class="form-control" style="width:13em;" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password"> Password</label><br />
            <input asp-for="Password" class="form-control" style="width:13em;" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Repeat password</label><br />
            <input asp-for="ConfirmPassword" class="form-control" style="width:13em;" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </div>
</form>
@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}